{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-2">

    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
            <h1 class="display-4">Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Timelines</a>
                <a href="#" class="list-group-item list-group-item-action">Places</a>
                <a href="#" class="list-group-item list-group-item-action">Characters</a>
                <a href="#" class="list-group-item list-group-item-action">Factions</a>
                <a href="#" class="list-group-item list-group-item-action">Events</a>
                <a href="#" class="list-group-item list-group-item-action">Tools</a>
                <a href="#" class="list-group-item list-group-item-action">Weapons</a>
                <a href="#" class="list-group-item list-group-item-action">Currency</a>
                <a href="#" class="list-group-item list-group-item-action">Resources</a>
                <a href="#" class="list-group-item list-group-item-action">References</a>
            </div>
        </div>
        <div class="col-9">
        </div>
    </div>

</div>

{% endblock content %}