{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-2">
    <div class="row">
        <div class="col-12">

<div class="card shadow mb-5 bg-white rounded">
  <div class="card-header">
    <h3>Total event(s) : {{ events.count }}</h3>
    <hr>
    <a href="{% url 'place:event-create' %}" class="btn btn-primary">New event</a>
  </div>
  <div class="card-body">
    <div class="list-group">
      {% for event in events %}
        <a href="{% url 'place:event-detail' pk=event.pk %}" class="list-group-item list-group-item-action">{{ event.heading }}</a>
      {% empty %}
        No event(s) right now!
      {% endfor %}
    </div>
  </div>
</div>

        </div>
    </div>
</div>

{% endblock content %}